@tailwind base;
@tailwind components;
@tailwind utilities;

.drive-container {
    @apply flex flex-col h-screen bg-gray-200;
}

.drive-background {
    @apply bg-white text-gray-900;
}

.drive-header {
    @apply flex items-center justify-between border-b border-gray-300 pb-4 mb-4 bg-white;
}

.file-upload-dropzone {
    padding: 1rem;
    border: 2px dashed #0070f3;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.file-upload-dropzone:hover {
    background-color: #f0f4f8;
}


.drive-title {
    @apply text-3xl font-bold text-gray-900  pb-2 ml-8;
}


.drive-content {
    @apply flex-1 p-4 w-full;
}

.search-bar {
    @apply w-full ml-8 mt-2;
}

.search-bar input {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 400px;
    outline: none;
    transition: border-color 0.3s;
    margin-bottom: 1rem;
}

.search-bar input:focus {
    border-color: #0070f3;
}

.folder-hovered {
    background-color: rgba(0, 123, 255, 0.2);
    border: 2px dashed rgba(0, 123, 255, 0.5);
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.file-list-container {
    @apply flex flex-col flex-1 w-full overflow-hidden;
}

.file-list-header {
    @apply grid grid-cols-4 gap-4 mb-4 font-semibold text-gray-600;
}

.file-list-content {
    @apply overflow-y-auto h-full ;
    height: calc(100vh - 22rem);
}


.file-list {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4;
    @apply text-2xl font-bold text-gray-900;
}


.file-list-item {
    @apply grid grid-cols-4 gap-3 p-2.5 mb-1.5 hover:bg-gray-100 hover:shadow-lg transition;
}
