@tailwind base;
@tailwind components;
@tailwind utilities;

.drive-container {
    @apply flex flex-col h-screen bg-gray-200;
    align-items: center;
}

.drive-background {
    @apply bg-white text-gray-900;
}

.drive-header {
    @apply flex items-center justify-between border-b border-gray-300 pb-4 mb-4 bg-white;
}

.drive-title {
    @apply text-4xl font-bold text-gray-900 flex justify-center items-center pb-8;
}


.drive-content {
    @apply flex-1 p-4 w-full;
}

.search-bar {
    @apply w-full flex justify-center;
}

.search-bar input {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 400px;
    outline: none;
    transition: border-color 0.3s;
    margin-bottom: 1rem;
}

.search-bar input:focus {
    border-color: #0070f3; /* Change the border color when focused */
}


.file-list-container {
    @apply flex flex-col flex-1 w-full overflow-hidden; /* Conteneur principal sans défilement */
}

.file-list-header {
    @apply grid grid-cols-4 gap-4 mb-4 font-semibold text-gray-600;
}

.file-list-content {
    @apply overflow-y-auto h-full ;
    height: calc(100vh - 18rem);
}


.file-list {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4;
    @apply text-2xl font-bold text-gray-900;
}


.file-list-item {
    @apply grid grid-cols-4 gap-3 p-2.5 mb-1.5 hover:bg-gray-100 hover:shadow-lg transition;
}










