@tailwind base;
@tailwind components;
@tailwind utilities;

.drive-container {
    @apply flex flex-col h-[calc(100vh-4rem)] p-6 bg-gray-200 overflow-hidden;
    justify-content: flex-start;
    align-items: center;
}

.drive-background {
    @apply bg-white text-gray-900;
}

.drive-header {
    @apply flex items-center justify-between border-b border-gray-300 pb-4 mb-4 bg-white;
}

.drive-title {
    @apply text-4xl font-bold text-gray-900 flex justify-center items-center pb-8;
}


.drive-content {
    @apply flex-1 overflow-y-auto p-4 w-full;
}

.search-bar {
    @apply w-full flex justify-center;
}

.search-bar input {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 400px;
    outline: none;
    transition: border-color 0.3s;
    margin-bottom: 1rem;
}

.search-bar input:focus {
    border-color: #0070f3; /* Change the border color when focused */
}


.file-list {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4;
    @apply text-2xl font-bold text-gray-900;
}

.drive-upload-button {
    @apply bg-blue-500 text-white px-4 py-2 rounded-lg;
    transition: background-color 0.2s;
}

.drive-upload-button:hover {
    @apply bg-blue-600;
}

.drive-content {
    @apply flex-1 overflow-y-auto p-4;
}

.file-list {
    @apply grid grid-cols-1 gap-4;
}

.file-list-item {
    @apply bg-white text-gray-900 p-4 rounded-lg shadow-md transition-all duration-200 cursor-pointer;
}

.file-list-item:hover {
    @apply bg-gray-200;
}

.file-icon, .folder-icon {
    @apply w-10 h-10 mb-2;
}


.file-name {
    @apply text-lg font-semibold text-gray-900 truncate;
}

.file-size {
    @apply text-sm text-gray-600;
}

.folder-name {
    @apply text-lg font-semibold text-gray-900 truncate;
}








